.container{
    display: flex;
}

@media screen and (max-width: 1024px) {
  .container {
    display: block;
  }
}

@media screen and (max-width: 812px) {
  #red, #blue, #green{
    width: 100% !important;
    margin: 0px auto 20px auto !important;
  }
}
